*, *:before, *:after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
}

$sw-yellow: #ffe900;
$max-page-width: 800px;

a {
	color: #fff;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: $sw-yellow;
		opacity: .5;
	}
}

h1 {
	font-size: 30px;
	font-weight: 800;
	margin-bottom: 30px;
}


.settings {
	max-width: $max-page-width;

	.settings-header,
	.settings-content {
		justify-content: center;
	}
	.settings-header {
		color: #7f7f7f;
		display: flex;
		justify-content: flex-end;
		position: absolute;
		width: 100%;
		z-index: 1;

		.settings-button {
			cursor: pointer;
			padding: 10px;

			.fa {
				font-size: 140%;
				display: flex;
				align-items: center;
			}
		}
	}
	.settings-content {
		height: 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		&.settings-open {
			padding-top: 30px;
			height: auto;
			border-bottom: 1px solid #7f7f7f;
		}
	}
}
.current-timezone {
	margin: 4px 0 30px;
}

.button-container {
	padding: 0;
	margin: 10px -15px 14px;

	>div {
		padding: 0;
	}
}
.button {
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 10px;
	padding: 4px 0;
	margin: 0 4px;
	width: 144px;
	font-size: 14px;
	cursor: pointer;

	&.active {
		background-color: #fff;
		color: #000;
	}
}

.table-container {
	max-width: $max-page-width;
	padding-bottom: 14px;
	border-bottom: 1px solid $sw-yellow;
	margin-bottom: 26px;
	line-height: normal;

	&:last-child {
		border: 0;
		margin-bottom: 10px;
	}

	>.row {
		padding-bottom: 16px;

		&:first-child {
			font-weight: 600;
			color: $sw-yellow;
		}
		&:not(:first-child) {
			text-transform: none;
		}

		div:nth-child(2) {
			text-align: right;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}
