[v-cloak] {
	display: none;
}

*, *:before, *:after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: #000;
	color: #fff;
}

$sw-yellow: #ffe900;
$max-page-width: 800px;

img {
	max-width: 100%;
}

a {
	color: #fff;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: $sw-yellow;
		opacity: .5;
	}
}

h1 {
	font-size: 30px;
	font-weight: 800;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.settings {
	max-width: $max-page-width;

	h4 {
		opacity: 60%;
		font-weight: 200;
		text-transform: uppercase;
		font-size: 20px;
		margin-top: 10px;
	}

	.row {
		margin-bottom: 24px;
	}

	.settings-header,
	.settings-content {
		justify-content: center;
	}
	.settings-header {
		color: #7f7f7f;
		display: flex;
		justify-content: flex-end;
		position: absolute;
		width: 100%;
		z-index: 1;

		.settings-button {
			cursor: pointer;
			padding: 10px;
			text-transform: uppercase;
			display: flex;
			align-items: center;

			.fa {
				font-size: 140%;
				margin-left: 6px;
			}
		}
	}
	.settings-content {
		height: 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		&.settings-open {
			padding: 36px 0 10px;
			height: auto;
		}
	}
}

@keyframes borderpulse {
	0% {border-color: $sw-yellow;}
	50% {border-color: #000;}
	100% {border-color: $sw-yellow;}
}
.page-edit-faves {
	padding-top: 170px;
}
.show-hide-settings {
	position: fixed;
	background: #000;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;

	border: 8px solid;

	-webkit-animation: borderpulse 2s infinite; /* Safari 4+ */
	-moz-animation: borderpulse 2s infinite; /* Fx 5+ */
	-o-animation: borderpulse 2s infinite; /* Opera 12+ */
	animation: borderpulse 2s infinite; /* IE 10+, Fx 29+ */

	h4 {
		opacity: 100%;
	}

	.row {
		margin-bottom: 14px;
	}
	.checkall-buttons-wrap {
		margin: 4px 0 12px;

		.button {
			opacity: 60%;
			min-width: 120px;
		}
	}
}

.current-timezone {
	opacity: 60%;
	margin-top: 4px;
}

.button-container {
	padding: 0;
	margin: 10px -15px 20px;

	>div {
		padding: 0;
	}
}
.button {
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 10px;
	padding: 4px 0;
	margin: 0 4px;
	min-width: 138px;
	font-size: 14px;
	cursor: pointer;
	text-transform: uppercase;

	&.active {
		background-color: #fff;
		color: #000;
	}

	&.button-reset {
		width: auto;
		padding: 4px 8px;
		opacity: 60%;
	}
}

.checkbox-wrap {
	display: flex;
	align-items: center;
	justify-content: center;

	&.fav-checkbox {
		margin-right: 4px;
	}

	label {
		margin-bottom: 0;
		cursor: pointer;
	}

	input[type="checkbox"] {
		display: none;

		&:checked + label:before {
			font-family: FontAwesome;
			content: "\f00c";
			color: #000;
		}

		// The checkbox
		+ label {
			width: 18px;
			height: 18px;
			background: #fff;
			border-radius: 3px;
			cursor: pointer;
			margin-right: 8px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.table-container {
	max-width: $max-page-width;
	padding-bottom: 14px;
	border-bottom: 1px solid $sw-yellow;
	margin-bottom: 26px;
	line-height: normal;

	&:last-child {
		border: 0;
		margin-bottom: 10px;
	}

	>.row {
		padding-bottom: 16px;

		&:first-child {
			font-weight: 600;
			color: $sw-yellow;
			text-transform: uppercase;
		}
		&:not(:first-child) {
			text-transform: none;
		}

		&.hidden-panel {
			opacity: 50%;
		}

		> div:nth-child(2) {
			text-align: right;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}

.panel-info {
	display: flex;
}

.day-diff {
	font-size: 75%;
	opacity: 60%;
}
.stages-wrap {
	margin-top: 4px;
}
.stage-tag {
	float: left;
	color: $sw-yellow;
	font-size: 12px;

	&:not(:first-child) {
		opacity: 50%;
	}
}
.stage-filter-wrap {
	.checkbox-wrap {
		justify-content: flex-start;
	}
}

.quote {
	font-size: 20px;
	font-style: italic;
	line-height: normal;
	margin: 8px 0;
}
.citation {
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 32px;
}
.no-panels-msg {
	opacity: 50%;
}
